<!DOCTYPE html>
<html>
<head>
<title>YOLO Object Detection</title>

<style>

body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
    padding-top: 60px;
}

.container {
    width: 500px;
    margin: auto;
}

button {
    padding: 12px;
    width: 100%;
    background: #3b82f6;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

canvas {
    margin-top:20px;
    max-width:100%;
}

</style>
</head>

<body>

<h1>🚗 YOLO Object Detection</h1>

<div class="container">

<form id="uploadForm">

<input type="file" id="fileInput" required>

<button type="submit">Detect Objects</button>

</form>

<br>

<img id="preview" style="max-width:100%; display:none;">
<canvas id="canvas"></canvas>

</div>

<script>

const form = document.getElementById("uploadForm");

form.addEventListener("submit", async (e) => {

    e.preventDefault();

    const file = document.getElementById("fileInput").files[0];

    const formData = new FormData();
    formData.append("file", file);

    const response = await fetch("/predict", {
        method: "POST",
        body: formData
    });

    const data = await response.json();

    const img = document.getElementById("preview");
    const canvas = document.getElementById("canvas");
    const ctx = canvas.getContext("2d");

    img.src = URL.createObjectURL(file);

    img.onload = () => {

        canvas.width = img.width;
        canvas.height = img.height;

        ctx.drawImage(img,0,0);

        ctx.strokeStyle = "red";
        ctx.lineWidth = 3;
        ctx.font = "18px Arial";
        ctx.fillStyle = "red";

        data.detections.forEach(det => {

            ctx.strokeRect(
                det.x1,
                det.y1,
                det.x2 - det.x1,
                det.y2 - det.y1
            );

            ctx.fillText(
                "Plate " + det.confidence.toFixed(2),
                det.x1,
                det.y1 - 5
            );

        });

    }

});

</script>

</body>
</html>